*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    margin: 0 auto;
}
img{
    width: 100%;
    height: 100%;
}
html{
    font: bolder;
}

.header-main-container{
    height: 50px;
    display: flex;
    align-items: center;
    border-style: solid;
}

.header-main-container > *{
padding: 10px;
}


section{
    display: flex;
    align-items: center;
    
    
}


section > *{
    padding: 10px;
}

.altro-container{
    min-height: 300px;
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: center;
    border-style: solid;
    flex-wrap: wrap;
    background-color: lightblue;
    
}
.container-riquadro{
    width: 100% ;
    display: flex;
    justify-content: center;
   

   
    
}
.conteiner-img-grande{
    border: solid black;
    min-height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    margin-bottom: -90px;
 

}

.primo-riquadro{
    min-height: 150px;
    width: 80%;
    
}
.button{
    background-color: blue;
    width: 60%;
    margin-top: 10px;
    height: 30px;
}
#annulla{
margin-top: 10px;

}
#arrow{
    margin-top: 30px;
   
    
}



.secondo-riquadro{
    min-height: 200px;
    width: 100%;
    
}
.img-grande{
    max-width: 100%;
    height: 90%;
   

}




.card-container{
    display: flex;
    width: 100%;
    min-height: 500px;
    border-style: solid ;
    
}
.card {
    width: calc(100%  / 3);
    min-height: 700px;
    border: solid rgb(78, 77, 77);
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 40px;
    margin-bottom: 10px;

}
.titolo-card{
    border: solid 2px red;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.main-section{
    display: inline;
}
.second-section{
    display: inline;
}
.gratis-giorni{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}



li{
list-style: none;
}
hr{
    margin-top: 10px;
    width: 30%;

    
}



.jambo{
    height: 300px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid ;
    background-color: lightblue;
}
.container-jambo {
    width: 80%;
    height: 200px;
    border: solid  rgb(78, 77, 77);;
    

}
#city{
    width: 100%;
    height: 30px;
    border: solid  rgb(78, 77, 77);
    display: flex;
    align-items: center;
    justify-content: center;

}
#lorem-10-enterprice{
    margin-top: 30px;
}

.button-jumbo{
    position: relative;
    bottom: 70px;
    left: 70%;
}
.button-2{
    background-color: blue;
    width: 20%;
    height: 30px;

}



.secondo-altro-container{
    height: 500px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: solid;
   
   
}
.primo-sec-riquadro{
    height: 300px;
    width: 100%;
    border: solid  rgb(78, 77, 77);
}
.primo-sec-riquadro > * {
    width: 100%;
    height: 100%;
}


.secondo-sec-riquadro{
    height: 200px;
    width: 100%;
    border-style: solid;
}
.secondo-sec-riquadro > *{
     padding: 20px;
}




.secondo-card-container{
    display: flex;
    width: 100%;
    min-height: 500px;
    justify-content: space-around;
    border-style: solid;
    flex-wrap: wrap;
}
.seconda-card {
    width: 30%;
    border-style: solid;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.main-section-second-card{
    width: 100%;
    height: 50%;
}
.second-section-second-card{
    width: 100%;
    height: 50%;

}




.titlo-2{
    height: 40px;
    width: 100%;
    border-style: dashed;
}
.titlo-2 > *{
    display: flex;
    align-items: center;
    justify-content: center;
}


.titlo-3{
    margin-top: 20px;
    height: 100px;
    width: 100%;
    
}
.titlo-3 > *{
 padding: 20px;
}


.container-img{
    display: flex;
    border: 1px solid;
    
}
.qudrato-img{
    margin-top: 20px;
    width: 33.33%;
    height: 300px;
    border-style: dashed;
    display: flex;
    flex-wrap: wrap;
}

#order-1{
    order: 1;
    background-color: aqua;
}
#order-2{
    order: 2;
    background-color: red;
}
#order-3{
    order: 3;
    background-color: green;
}
#order-4{
    order: 4;
    background-color: yellow;
}
#order-6{
    order: 4;
    background-color: blue;
}
#order-7{
    order: 4;
    background-color: brown;
}
#order-8{
    order: 4;
    background-color: purple;
}
#order-9{
    order: 4;
    background-color: fuchsia;
}

.qudrato-img-mezzo{
    margin-top: 20px;
    width: 33.33%;
    height: 300px;
    border-style: dashed;
    display: flex;
    flex-wrap: wrap;
}
.qudrato-img-mezzo > *{
    padding: 10px;
}


.img-logo-piccola{
    width: 50%;
    height: 50%;
    border: solid 3px;

}



.porta-dropbox{
    width: 100%;
    height: 300px;
    border-style: solid;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightblue;
}
.container-porta-dropbox{
    width: 50%;
    height: 200px;
    border-style: dashed;
    display: flex;
    align-items: center;
    justify-content: start;

}


.container-porta-dropbox > h3{
    color: purple;
}

.button-porta{
    background-color: white;
    width: 90%;
    height: 30px;
    margin-bottom: 10px;
    margin-left: 50px;
}





.domande-freq{
    width: 100%;
    height: 500px;
    border-style: solid;
    display: flex;
    align-items: center;
    justify-content: center;

}
.container-domande-freq{
    width: 50%;
    height: 300px;
    border-style: dashed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.titolo-domande-frequenti{
position: relative;
right: 100px;
bottom: 30px;
}

.container-domande-freq > div >li{
    border-top: solid  rgb(78, 77, 77);


}







footer{
    background-color: rgb(37, 37, 37);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: calc(100% / 5);
}
.chiaro {
    margin-top: 20px;
    margin-bottom: 5px;
    margin-right: 5px;
    margin-left: 5px;
    width: 100px;
    height: 200px;
    border: 3px dashed white;
}









   




    

    