*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    margin: 0 auto;
}

.header-main-container{
    height: 50px;
    display: flex;
    align-items: center;
    border-style: dashed;
}

.header-main-container > *{
padding: 10px;
}


section{
    display: flex;
    align-items: center;
    margin-left: 65%;
    
}


section > *{
    padding: 10px;
}

.altro-container{
    height: 300px;
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: center;
    border-style: dashed;
    flex-wrap: wrap;
    
}
.container-riquadro{
    width: calc(100% / 2);
   
    display: flex;
    justify-content: center;
    
}
.primo-riquadro{
    height: 100px;
    width: 100%;
    border-style: dashed;
   
}
.secondo-riquadro{
    height: 200px;
    width: 100%;
    border-style: dashed;
}
.card-container{
    display: flex;
    width: 100%;
    height: 500px;
    border-style: dashed;
}
.card {
    width: calc(100%  / 3);
    border-style: dashed;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;

}



   




    

    