*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    margin: 0 auto;
}

.header-main-container{
    height: 50px;
    display: flex;
    align-items: center;
    border-style: dashed;
}

.header-main-container > *{
padding: 10px;
}


section{
    display: flex;
    align-items: center;
    margin-left: 65%;
    
}


section > *{
    padding: 10px;
}

.altro-container{
    height: 300px;
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: center;
    border-style: dashed;
    flex-wrap: wrap;
    
}
.container-riquadro{
    width: calc(100% / 2);
    border-style: dashed;
    
}
.primo-riquadro{
    height: 100px;
    width: 100px;
}
.secondo-riquadro{
    height: 100px;
    width: 100px;
}


   




    

    